{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;

    background-image: url(leather-nunchuck.png);
}

/**navigationslisten**/

/*.topnav {
    overflow: hidden;
    background-color: black;
}



.topnav a {
    float: left;
    display: block;
    color: lightgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}*/
.horseicon img {
    width: 90px;
    box-shadow: 5px solid black;
    opacity: 0.7;
    margin: 1%;
    float: left

}


#rcorner1 {
    border-radius: 25px;
    border: 2px solid black;
    width: 90px;
    height: 90px;
}

h3 {
    font-size: 2.5em;
    color: white;
    font-family: 'Megrim', cursive;
    background-color: black;
    width: 30%;
    text-align: center;
}

.tidslinje {
    background-color: white;
    color: #000000;
    cursor: pointer;
    padding: 12px;
    margin-top: 2%;
    margin-left: 2%;
    width: 98%;
    border: none;
    text-align: left;
    outline: groove;
    font-size: 1.5em;
    transition: 0.4s;
}

.active,
.tidslinje:hover {
    background-color: #e0432f;
}

.panel {
    padding: 2px;
    display: none;
    background-color: white;
    overflow: hidden;
    margin-left: 2%;
    width: 90%;
    border: 1px solid black;
}

.timeline {
    float: left;
    width: 100%
}

.jumping img {
    width: 100%;
    margin-top: 5%;
    background-color: rgba(245, 245, 220, 0.49);


}


footer {
    margin-top: 55%;
    /*clear: both;*/
    font-size: 0.9em;
    text-align-last: center;
    color: white;
    text-shadow: 1px 1px solid black;
}

.clearfix {
    overflow: auto;
}

/**mus over linket**/

.topnav a:hover {
    color: #ff6200;
}

/**Justere alle "links" i dette tilfælde ingen undertegn og ændret farve i nav **/

a:link {
    text-decoration: none;
    color: lightgrey;

}

/**breakpoint til 400px*/

@media only screen and (min-width: 400px) {
    h3 {
        font-size: 2.5em;
        color: white;
        font-family: 'Megrim', cursive;
        background-color: black;
        width: 40%;
        text-align: center;
        float: left;
    }
    .horseicon img {
        width: 90px;
        margin: 1%;
        float: left;opacity: 1;
    }
    #rcorner1 {
        border-radius: 25px;
        border: 2px solid black;
        width: 90px;
        height: 90px;
    }
    .jumping img {
        width: 100%;
        float: left;

    }

    .panel {
        width: 98%;
        float: left;
        padding-left: 1%;
    }

    .tidslinje {
        float: left;
        color: #000000;
        cursor: pointer;
        padding: 12px;
        margin-top: 2%;
        margin-left: 2%;
        border: none;
        text-align: left;
        outline: groove;
        font-size: 1.5em;
        transition: 0.4s;
    }
    footer {
        clear: both
    }
    .timeline {
        width: 100%;
    }

    .topnav {
        overflow: hidden;
        background-color: black;
        margin-left: -5%;

    }

    .topnav a {
        font-size: 1.5em;
        display: block;
        color: white;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;

    }

}

/*breakpoint til 768px*/

@media only screen and (min-width: 768px) {
    h3 {
        width: 30%;
        margin-right: 10%;
    }

    .jumping img {
        width: 49%;
        float: left;
        margin-top: 0.8%;
        margin-left: 1%
    }

    .panel {
        width: 98%;
        float: left;
        padding-left: 1%;
    }

    .tidslinje {
        float: left;
        color: #000000;
        cursor: pointer;
        padding: 12px;
        margin-top: 2%;
        margin-left: 2%;
        border: none;
        text-align: left;
        outline: groove;
        font-size: 1.5em;
        transition: 0.4s;
    }
    footer {
        clear: both;
    }
    .timeline {
        width: 50%;
    }
    .topnav {
        overflow: hidden;
        background-color: black;
        width: 100%;
        margin-left: 1.5%;
    }

    .topnav a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.4em;
    }
}

/*breakpoint til 1000px*/

@media only screen and (min-width: 1000px) {

    h3 {
        font-size: 4em;
        margin-right: 30%;margin-top: 2%
    }
      .panel {
        width: 98%;
        float: left;
        padding-left: 1%;margin-left: -10%
    }

    .tidslinje {
        float: left;
        color: #000000;
        cursor: pointer;
        padding: 12px;
        margin-top: 2%;
        margin-left: -10%;
        border: none;
        text-align: left;
        outline: groove;
        font-size: 1.5em;
        transition: 0.4s;
    }
     .timeline {
        width: 40%;margin-top: 2%;margin-left: 6%
    }

    footer {
        clear: both
    }
    .topnav {
        overflow: hidden;
        background-color: black;
        padding: 1%;
        margin-left: 1%;width: 95%;
    }


    .topnav a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .jumping img {
        width: 45%;
        float: left;
        margin-top: 0.8%;
        margin-left: 1%
    }


}
