<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile first</title>
    <!-- enten have flere stylesheets i html fil eller samle alle css filer inde i et som nedenstående.
    <link rel="stylesheet" href="css/reset.css" />

    <link rel="stylesheet" href="css/mobile.css" />
    <link rel="stylesheet" href="css/tablet.css" />
    <link rel="stylesheet" href="css/desktop.css" />
    -->
    <link rel="stylesheet" href="css/style.css" />

</head>


<body>
    
    <div class="container">
        <header>
              <nav id="nav-bar">
        <ul>

            <li><a href="Index.html">Home</a></li>
            <li><a href="../portfolio.html">Portfolio</a></li>
            <li><a href="../profile.html">Profile</a></li>
            <li><a href="../about.html">About</a></li>

        </ul>
    </nav>
    
        </header>

        <nav class="tablet">desktop and tablet navigation</nav>

        <aside class="desktop">Naughty stuff about me
        <p>bla bla bla</p></aside>
        <section>
            <article>
            <img id="portrait" src="Pictures/nhan.jpeg"></article>
            <article>About me
            <p>bla bla bla</p>
            </article>
        </section>


        <footer>Footer</footer>
    </div>
</body>

</html>