article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font: 12px/18px Arial, sans-serif;
    background-color: #ccc;
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #acb362;
}

body {
    background-color: #acb362;
    font-family: verdana, sans-serif;
    font-size: 12px;
}

header,
footer,
main {
    padding: 2%;
}


/* Header
-----------------------------------------------------------------------------*/

header {}


ul {
    list-style-type: none;
}

#navigation-desktop {
    display: none;
}

#navigation-icon {
    font-size: 1.4em;
    padding: 2%;
    text-align: right;
    background-color: #878e3a;
}

nav a {
    text-decoration: none;

    padding: 4px;
    color: floralwhite;
}

#navigation-mobile {
    text-align: center;
    font-size: 1.2em;
    background-color: #878e3a;
    margin-top: -17px;
    display: inline;
    width: 200px;
}

#navigation-mobile li {
    padding: 0.8em;
    border-bottom: 1px solid #acb362;

}

a:hover {
    filter: drop-shadow(0px 5px 5px #383535);
}

.forside {
    filter: drop-shadow(0px 5px 5px #383535);
    float: left;
    display: inline;
    width: 155px;
    margin-top: -5px;
    margin-left: 10px;
    margin-right: 70px;


}

.voresture {
    width: 10%;
    filter: drop-shadow(0px 5px 5px #383535);
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 70px;
    float: left;
}

.anmeldelser {
    width: 10%;
    filter: drop-shadow(0px 5px 5px #383535);
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 70px;
    float: left;
}

.kontakt {
    width: 10%;
    filter: drop-shadow(0px 5px 5px #383535);
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 70px;
    float: left;
}

/* Middle
-----------------------------------------------------------------------------*/

main {

    background-color: #878e3a;
    margin-top: 10px;
}


#umbrella {
    width: 100%
}


#text {
    background-color: green;
    width: 98%;
    padding: 1%;

}

#image img {
    width: 100%;

}

footer {
    color: #fff;
    padding: 20px;
    font-family: 'Lato', sans-serif;
}

footer p {
    text-align: right
}

#fedtele {
    font-size: 20px;
    color: white;
    text-decoration: none
}

.clearfix {
    /* overflow: auto;*/
}

#flex {
    display: flex;
    justify-content: space-between;
}




/* Footer
-----------------------------------------------------------------------------*/

footer {
    height: auto;
    background: #878e3a;
    clear: both;
}

color: #fff;
padding: 20px;
font-family: 'Lato',
sans-serif;

@media only screen and (min-width: 400px) {
    header {
        background-color: #878e3a;
    }
    #umbrella {}

    #navigation-desktop {
        display: block;
        text-align: center;
    }
    #navigation-desktop li {
        display: inline;
        font-size: 1.3em;
        margin: 0.3em;
    }
    #navigation-desktop li a {
        padding: 0.3em;
    }
    #navigation-icon {
        display: none;
    }
    #navigation-mobile {
        display: none;
        display: inline;
        width: 200px;
    }
}

@media only screen and (min-width: 650px) {
    header {
        background-color: #878e3a;

    }
    #image {
        width: 48%;
        float: left;
    }
    #text {
        width: 48%;
        float: left;
    }
    article {
        overflow: auto;
    }
}

@media only screen and (min-width: 768px) {
    #navigation-desktop {
        text-align: right;
    }
    #navigation-desktop li {
        font-size: 1em;
        margin: 0.3em;
    }

}

}

}
