header {
    background-color: azure;
    padding: 1px
}

h1 {
    text-align: center
}

h1 a {
    text-decoration: none;
    color: black
}

nav {
    text-align: right;
    padding: 1px;
}

nav li {
    display: inline;
    padding: 4px;
}

nav a {
    text-decoration: none;
    color: darkgrey;
}

nav a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

body {
    max-width: 800px;
    margin: auto;
    font-family: sans-serif;
    font-size: 0.9em;
}

#wrapper {
    padding-bottom: 600px;
}

h3 {
    text-align: center
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    text-decoration: underline;
}

#tablea {
    background-color: aqua;
    width: 45%;
    float: left;
    border: 5px solid;
    margin-top: 10px;
    margin-left: 25px;
    height: 162px;
}

#tableb {
    background-color: orchid;
    width: 45%;
    float: left;
    border: 5px solid;
    margin-left: 25px;
    margin-top: 10px;
    height: 162px
}

#tablec {
    background-color: chartreuse;
    width: 45%;
    float: left;
    border: 5px solid;
    margin-top: 10px;
    margin-left: 25px;
    height: 162px;
}

#tabled {
    background-color: yellow;
    width: 45%;
    float: left;
    border: 5px solid;
    margin-left: 10px;
    margin-top: 10px
}

#tablee {
    background-color: coral;
    width: 45%;
    float: left;
    border: 5px solid;
    margin-top: 10px;
    margin-left: 10px;
    height: 162px;
}

#tablef {
    background-color: blueviolet;
    width: 45%;
    float: left;
    border: 5px solid;
    margin-left: 10px;
    margin-top: 10px;
    height: 162px;
}

.tablemaster {

    text-align: center;
    padding-right: 40px;
    padding-bottom: 10px;
    text-decoration: underline;
    text-decoration-style: dotted
}

.person1 {
    float: left;
    padding-bottom: 10px
}

.person2 {
    float: right;
    padding-right: 40px;
    padding-bottom: 10px
}

.person3 {
    float: left;
    clear: both;
    padding-bottom: 10px
}

.person4 {
    float: right;
    padding-right: 40px;
    padding-bottom: 10px;
}

.person5 {
    clear: both
}

#info {
    width: 50%;
    float: left;
    margin-bottom: 50px;
}

aside {
    width: 40%;
    float: right;
    border: 2px solid;
    padding-left: 5px;
    margin-top: 400px;
    margin-bottom: 150px;
    background-color: aliceblue;
}

footer {
    clear: both;
    text-align: center;
    background-color: azure;
    padding: 10px;
}

footer li {
    display: inline;
    padding-right: 40px;
}
