article,
aside,
details,
figcaption,
figure,
footer,
/*lys #acb362 mørk #878e3a*/

hgroup,
main,
nav,
section,
summary {
    display: block;
}

a:hover {
    filter: drop-shadow(0px 5px 5px #383535)
}

nav {
    text-align: center;
}

nav li {
    display: inline;
    padding: 2%;
    font-size: 200%;
}

nav a {
    text-decoration: none;
    color: white
}

body {
    font-family: 'Abel', sans-serif;
    background-color: #f8f0de
}

header {
    background-color: #acb362;
    padding-top: 1%
}

#ned img {
    width: 100%;
    background-color: #f8f0de
}

#rundrejse {
    font-size: 1.5em;
    background-color: #f8f0de;
    padding: 1%
}

#vejen {
    font-size: 1.5em;
    background-color: #f3fce5;
    padding: 1%
}

#ballon img {
    width: 100%;
    background-color: #f8f0de
}

#hemmelig {
    font-size: 1.5em;
    background-color: #f8f0de;
    padding: 1%
}

#guld {
    font-size: 1.5em;
    background-color: #f3fce5;
    padding: 1%
}

#sol img {
    width: 100%;
    background-color: #f8f0de
}

#guide {
    font-size: 1.5em;
    background-color: #f8f0de;
    padding: 1%
}

.wrapper {
    min-width: 200px;
    max-width: 1000px;
    margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/

.header {
    height: 150px;
    width: 100%;
    background:
}


/* Middle
-----------------------------------------------------------------------------*/

footer {
    height: auto;
    background: #878e3a;
    clear: both;
}



@media only screen and (min-width: 800px) {
    body {
        background-color: #f8f0de
    }
    header {
        background-color: #acb362;
    }
    #logo img {
        width: 250px
    }
    #top {
        background-color: #f8f0de
    }
    #ned img {
        width: 100%;
        background-color: #f8f0de
    }
    #rundrejse {
        font-size: 1.5em;
        background-color: #f8f0de;
        width: 48%;
        float: left;
        padding: 1%
    }
    #vejen {
        font-size: 1.5em;
        background-color: #f8f0de;
        width: 48%;
        float: left;
        padding: 1%;
    }
    #midte {
        background-color: #f8f0de
    }
    #ballon img {
        width: 100%;
        background-color: #f3fce5
    }
    #hemmelig {
        font-size: 1.5em;
        background-color: #f3fce5;
        width: 48%;
        float: left;
        padding: 1%
    }
    #guld {
        font-size: 1.5em;
        background-color: #f3fce5;
        width: 48%;
        float: left;
        padding: 1%;
    }
    #bund {
        background-color: #f3fce5
    }
    #sol img {
        width: 100%;
        background-color: #f3fce5
    }
    #guide {
        font-size: 1.5em;
        background-color: #f8f0de;
        width: 48%;
        float: left;
        padding: 1%
    }


    #text {
        width: 48%;
        float: left;
    }
    article {
        overflow: auto;
    }

}
