article,
aside,
details,
figcaption,
figure,
footer,
/*lys #acb362 mørk #878e3a*/

hgroup,
main,
nav,
section,
summary {
    display: block;
}

a:hover {
    filter: drop-shadow(0px 5px 5px #383535)
}

nav {
    text-align: center;
}

nav li {
    display: inline;
    padding: 2%;
    font-size: 200%;
}

nav a {
    text-decoration: none;
    color: white
}

body {
    font-family: 'Abel', sans-serif;
    background-color: #f8f0de
}

header {
    background-color: #acb362;
    padding-top: 1%
}

#logo img {
    padding: 1%
}

#burma img {
    width: 100%;
    background-color: #f8f0de
}

#burma {
    font-size: 1.5em;
    background-color: #f8f0de
}

#bagan img {
    width: 100%;
    background-color: #f3fce5
}

#bagan {
    font-size: 1.5em;
    background-color: #f3fce5
}

#mandalayu img {
    width: 100%;
    background-color: #f8f0de
}

#mandalayu {
    font-size: 1.5em;
    background-color: #f8f0de
}

#inle img {
    width: 100%;
    background-color: #f3fce5
}

#inle {
    font-size: 1.5em;
    background-color: #f3fce5
}

#yangon img {
    width: 100%;
    background-color: #f8f0de
}

#yangon {
    font-size: 1.5em;
    background-color: #f8f0de
}

.wrapper {
    min-width: 200px;
    max-width: 1000px;
    margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/

.header {
    height: 150px;
    width: 100%;
    background:
}


/* Middle
-----------------------------------------------------------------------------*/

footer {
    height: auto;
    background: #878e3a;
    clear: both;
}

@media only screen and (min-width: 400px) {
    header {
        background-color: #acb362;
    }
    #burma img {
        width: 50%;
        float: right;
        padding: 2%
    }
    #burma {
        font-size: 1em;
        padding: 1%
    }
    #bagan img {
        width: 50%;
        padding: 1%
    }
    #bagan {
        font-size: 1em;
        float: right;
        padding: 1%
    }
    #mandalayu img {
        width: 50%;
        float: right;
        padding: 1%
    }
    #mandalayu {
        font-size: 1em;
        float: right;
        padding: 1%
    }
    #inle img {
        width: 50%;
        float: left;
        padding: 1%
    }
    #inle {
        font-size: 1em;
        float: left;
        padding:
    }
    #yangon img {
        width: 50%;
        float: right;
        padding: 1%
    }
    #yangon {
        font-size: 1em;
        float: right;
        padding: 1%
    }


    #text {
        width: 48%;
        float: left;
    }
    article {
        overflow: auto;
    }
}

@media only screen and (min-width: 800px) {
    body {
        background-color: #f8f0de
    }
    header {
        background-color: #acb362;
    }
    #logo img {
        width: 250px
    }

    #burma img {
        width: 47%;
        float: right;
    }
    #burma {
        font-size: 1em;
    }
    #bagan img {
        width: 500px;
    }
    #bagan {
        font-size: 1em;
    }
    #mandalayu img {
        width: 500px;
    }
    #mandalayu {
        font-size: 1em;
    }
    #inle img {
        width: 500px;
    }
    #inle {
        font-size: 1em;
    }
    #yangon img {
        width: 500px;
    }
    #yangon {
        font-size: 1em;
    }


    #text {
        width: 48%;
        float: left;
    }
    article {
        overflow: auto;
    }

}
