header, article, nav, aside, footer {
    background-color: black;
    text-align: center;
    color: white;
    margin-bottom: 5px;
}

header {
    height: 100px;
}

article {
    height: 400px;
}
nav {
    height: 50px;
}
footer {
    height: 100px;
}
.tablet, .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
